p {
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    
}


.piechart{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(#ff4a4a .25%, #fff477 .25%, #6eff6e .25%, #7d83ff .25%);
}


/* To make css for id: #insert id name here{insert css stuff} */
/* To make css for class: .insert class name here{insert css stuff} */
/* To make css for html element: insert class name here{insert css stuff} */

#taskbar{
    border-bottom: solid;
    
}

#login{
    float:right;
    position: absolute;
    top:10px;
    right:50px;
}

#signup{
    float:right;
    position: absolute;
    top:10px;
    right:110px;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
.child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

#description{
    border: 1px solid black;
    float:left;
}

#youtubeVid{
    float:right;
}