p {
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    
}


.piechart{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#ff4a4a 0% 25%, #fff477 25% 50%, #6eff6e 50% 75%, #7d83ff 75% 100%);
}


/* To make css for id: #insert id name here{insert css stuff} */
/* To make css for class: .insert class name here{insert css stuff} */
/* To make css for html element: insert class name here{insert css stuff} */

#taskbar{
    border-bottom: solid;
}

.inner{
    display:inline-block;
}